Youtube/Project\ Vids/*.mp4
Youtube/Project\ Vids/*.webm
Youtube/Math\ vids/vid1/original/*
Youtube/Math\ vids/vid1/*.mp4
Youtube/Math\ vids/vid1/Final/*
Youtube/Robotics/vid1/backups/*
Youtube/Robotics/vid1/Final/*
Youtube/Robotics/vid1/Original/*